@use '../abstract/variaveis';
@use '../abstract/root';
@use '../abstract/mixin';

.section-sumary{
   
    max-width: 80%;



    h2{
        font-family: variaveis.$f-principal;
        font-size: 1.2rem;
        font-weight: 800;
        margin-left: 40px;
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;


        .reaction{
            background-color: variaveis.$light-red-opacity;
           
            div{
                color: variaveis.$light-red;
                font-weight: 700;
            }
         
           
        }

        .memory{
            background-color: variaveis.$orange-yellow-opacity;
            
            div{
                color: variaveis.$orange-yellow;
                font-weight: 700;
            }
        }

        .verbal{
            background-color: variaveis.$green-teal-opacity;
            
            div{
                color: variaveis.$green-teal;
                font-weight: 700;
            }
        }


        .visual{
            background-color: variaveis.$cobalt-blue-opacity;
            
            div{
                color: variaveis.$cobalt-blue;
                font-weight: 700;
            }
           
            
        }


        a{
            margin-top: 20px;
            background-color: variaveis.$dark-gray-blue;
            width: 100%;
            padding: 10px;
            border-radius: 30px;
            text-align: center;
            color: variaveis.$white;
            text-decoration: none;
            font-family: variaveis.$f-principal;
            font-size: 1.4rem;
            
        }
      

    }

    li{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 10px;
        padding: 0 10px;
        font-family: variaveis.$f-principal;
       
        span{
            font-weight: 800;
        } 
     
        div{
            display: flex;
            gap: 10px;
            

        }
        
    }


  

}