body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  body main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .section-pontuation {
    width: 18%;
  }
}

.section-pontuation {
  background: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4736ee, #2e2be9);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.section-pontuation h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Hanken Grotesk", serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.section-pontuation div {
  background: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4736ee, #2e2be9);
  border-radius: 100px;
  width: 100px;
  height: 100px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.066);
}
.section-pontuation div .pontuation-number {
  font-size: 4rem;
  margin-top: 0px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-family: "Hanken Grotesk", serif;
}
.section-pontuation div p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: hsl(224, 30%, 27%);
  font-family: "Hanken Grotesk", serif;
  margin-bottom: 2px;
}
.section-pontuation h2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
  font-family: "Hanken Grotesk", serif;
  margin-bottom: 2px;
}
.section-pontuation p {
  font-size: 1.1rem;
  font-family: "Hanken Grotesk", serif;
  text-align: center;
  color: hsl(221, 100%, 96%);
  font-weight: 600;
  text-wrap: balance;
}

.section-sumary {
  max-width: 80%;
}
.section-sumary h2 {
  font-family: "Hanken Grotesk", serif;
  font-size: 1.2rem;
  font-weight: 800;
  margin-left: 40px;
}
.section-sumary ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.section-sumary ul .reaction {
  background-color: hsla(0, 100%, 67%, 0.063);
}
.section-sumary ul .reaction div {
  color: hsl(0, 100%, 67%);
  font-weight: 700;
}
.section-sumary ul .memory {
  background-color: hsla(39, 100%, 56%, 0.084);
}
.section-sumary ul .memory div {
  color: hsl(39, 100%, 56%);
  font-weight: 700;
}
.section-sumary ul .verbal {
  background-color: hsla(166, 100%, 37%, 0.082);
}
.section-sumary ul .verbal div {
  color: hsl(166, 100%, 37%);
  font-weight: 700;
}
.section-sumary ul .visual {
  background-color: hsla(234, 85%, 45%, 0.103);
}
.section-sumary ul .visual div {
  color: hsl(234, 85%, 45%);
  font-weight: 700;
}
.section-sumary ul a {
  margin-top: 20px;
  background-color: hsl(224, 30%, 27%);
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-family: "Hanken Grotesk", serif;
  font-size: 1.4rem;
}
.section-sumary li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  padding: 0 10px;
  font-family: "Hanken Grotesk", serif;
}
.section-sumary li span {
  font-weight: 800;
}
.section-sumary li div {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */